/* VARIABLES */
:root{
    /* --main-text-color : #fff; */
    /* --main-bg-color : #fff; */
    /* --main-font-size : 16px; */
    /* --main-font-weight : 400; */
    --main-font-family :Fraunces;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
/* barlow-600 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}
.site-header {
    width: 100%;
    background-color: #49BCF1;
}
.logo img{
    width: 123px;
    height: 24px;
}
.site-header__menu{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.open-btn{
    border: none;
    width: 24px;
    height: 18px;
    background-image: url("../images/burger\ btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
.open-btn-show{
    background-image: url("../images/close-btn.svg");
}
.sitenav {
    position: fixed;
    top: 110px;
    right: 0;
    left: 0;
    z-index: 11;
    margin: 0 24px;
    transform: translateX(200%);
    text-align: center;
    background: #FFFCF8;
    transition: transform 0.5s ease;
}
.sitenav-show{
    transform: translate(0%);
}
.sitenav__list {
    margin-top: 50px;
    position: relative;
    padding-left: 0;
    list-style: none;
}
.sitenav__list::before{
    position: absolute;
    right: 0;
    top: -70px;
    content: '';
    border: 12px solid #FFF;
    border-top-color: transparent;
    border-left-color: transparent;
    
}
.sitenav__item {
    text-align: center;
    padding-top: 9px;
}
.sitenav__link {
    margin-top: 32px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.142857px;
    color: #808397;
    
}
.sitenav__btn {
    font-family: var(--main-font-family);
    margin-top: 32px;
    margin-bottom: 39px;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    background: #FBD600;
    border-radius: 28px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
}
.hero{
    position: relative;
    background-color: #49BCF1;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.hero__title{
    margin: 0;
    padding-top: 88px;
    padding-bottom: 296px;
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.arrow{
    position: absolute;
    top: calc(50% + -20px);
    left: calc(50% + -10px);
    width: 30px;
    height: 107px;
    border: none;
    background-image: url("../images/icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.brand__wrap {
    margin: 0;
}
.brand__list {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;
    list-style: none;
}
.brand__item {
    min-width: 300px;
    width: 100%;
}
.brand__item img{
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    height: auto;
}
.brand__item-text {
    width: 327px;
    width: 100%;
    text-align: center;
}
.brand__item-text h2{
    margin: 0;
    margin-top: 64px;
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: #24303E;
}
.brand__item-text p{
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;
}
.brand__item-text__link,
.brand__item-text__link-one{
    position: relative;
    margin-bottom: 64px;
    display: inline-block;
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
    opacity: 0.5;
}
.brand__item-text__link::after{
    position: absolute;
    bottom: 0;
    left: -12px;
    z-index: -1;
    content: '';
    display: inline-block;
    width: 137px;
    height: 10px;
    background-image: url("../images/linkone.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.brand__item-text__link:hover{
    opacity: 1;
}
.brand__item-text__link-one::after{
    position: absolute;
    bottom: 0;
    left: -12px;
    z-index: -1;
    content: '';
    display: inline-block;
    width: 137px;
    height: 10px;
    background-image: url("../images/linktwo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.brand__item-text__link-one:hover{
    opacity: 1;
}
.brand__item-img-chery {
    padding-bottom: 59px;
    min-width: 220px;
    width: 100%;
    background-image: url("../images/chery.jpg");
    background-repeat: no-repeat;
    background-size: 575px 642px;
    background-position: center;
}
.brand__item-img-orange {
    padding-bottom: 59px;
    min-width: 220px;
    width: 100%;
    background-image: url("../images/orangeid.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.brand__item-img-chery h3,
.brand__item-img-orange h3{
    padding-top: 398px;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #24554A;
}
.brand__item-img-chery p,
.brand__item-img-orange p{
    margin: 0;
    margin-top: 27px;
    /* padding-bottom: 58px; */
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    color: #24554A;
}



.client {
}
.client__wrap {
    padding: 64px 0;
}
.client__title {
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
    color: #A7AAAD;
}
.client__list {
    padding-left: 0;
    list-style: none;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.client__item {
    margin-top: 168px;
    text-align: center;
    position: relative;
}
.client__item::before{
    content: '';
    position: absolute;
    top: calc(50% + -180px);
    left: calc(50% + -30px);
    width: 72px;
    height: 72px;
    background-image: url("../images/gril.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.client__item:nth-child(2)::before{
    background-image: url("../images/male.png");
}
.client__item:nth-child(3)::before{
    background-image: url("../images/grill.png");
}
.client__item p{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
}
.client__item h3{
    margin-top: 32px;
    margin-bottom: 9px;
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
}
.client__item span{
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
}
.images__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.images__wrap img{
    width: 100%;
    height: auto;
}
.site-footer {
    background: #90D4C6;
}
.site-footer__wrap {
    margin: 0 auto;
    width: 300px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
}
.site-footer__logo {
    text-align: center;
    margin-left: 55px;
}
.site-footer__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.site-footer__item{
    margin-top: 40px;
}
.site-footer__item:nth-child(2){
    margin: 0 52px;
    margin-top: 40px;
}
.site-footer__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
}
.site-footer__link:hover{
    color: #fff;
}
.socials {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
}
.socials__item {
    margin-left: 28px;
    margin-top: 88px;
}
.socials__item:nth-child(1){
    margin-left: 52px;
}
.socials__link {
    fill: #2C7566;
}
.socials__link:hover{
    fill: #fff;
}

@media only screen and (min-width: 370px){
    .brand__item-text{
        padding: 0 24px;
    }
    .brand__item-img-chery {
        background-size: cover;
        background-position: center;
    }
    .brand__item-img-orange {
        background-size: cover;
        background-position:top;
    }
    .brand__item-img-chery h3,
    .brand__item-img-orange h3{
        padding-left: 24px;
        padding-right: 24px;
    }
    .brand__item-img-chery p,
    .brand__item-img-orange p{
        padding-left: 24px;
        padding-right: 24px;
    }
    .client__list {
        padding: 0 24px;
    }
    
}

@media only screen and (min-width: 700px){
    .hero__title{
        padding-top: 105px;
        padding-bottom: 536px;
    }
    .brand__item{
        display: flex;
    }
    .brand__item:nth-child(1){
        display: flex;
        flex-direction: row-reverse;
    }
    .brand__item-text{
        padding: 0;
    }
    .brand__item-img-chery p,
    .brand__item-img-orange p,
    .brand__item-img-chery h3,
    .brand__item-img-orange h3{
        padding-left: 0;
        padding-right: 0;
    }
    .client__item-text-wrap{
        width: 300px;
        margin: 0 auto;
    }
    
    .site-header {
        width: 100%;
        background-color: #49BCF1;
    }
    .site-header__inner {
        padding-top: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo img{
        width: 123px;
        height: 24px;
    }
    .site-header__menu{
        display: flex;
        padding-top: 0;
    }
    .open-btn{
        display: none;
    }
    .sitenav {
        position: static;
        margin: 0 24px;
        transform: translateX(0);
        text-align: left;
        background: transparent;
        display: flex;
        align-items: center;
    }
    .sitenav__list {
        margin-top: 0;
        padding-left: 0;
        display: flex;
    }
    .sitenav__list::before{
        display: none;
        
    }
    .sitenav__item {
        text-align: center;
        padding-top: 9px;
        margin-right: 47px;
    }
    .sitenav__link {
        margin-top: 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.128571px;
        color: #FFFFFF;
    }
    .sitenav__link:hover{
        color: #458D7E;
    }
    .sitenav__btn {
        margin: 0;
        padding: 16px 32px;
        display: inline-block;
        text-decoration: none;
        background: #fff;
        mix-blend-mode: normal;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: -0.107143px;
        text-transform: uppercase;
        color: #24303E;
    }
    .sitenav__btn:hover{
        background-color: #fff;
        opacity: 0.5;
    }
}

@media only screen and (min-width: 900px){
    .client__wrap {
        padding: 160px 0;
    }
    .client__list {
        max-width: 1440px;
        width: 100%;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        justify-items: center;
        margin: 0 auto;
    }
    .client__item {
        /* margin-top: 168px;
        text-align: center;
        position: relative; */
        width: 300px;
    }
    .client__item h3{
        margin-top: 69px;
    }
    .client__item-text-wrap{
        width: 250px;
    }
    .client__item::before{
        top: calc(50% + -260px);
        left: calc(50% + -38px);
    }
    .images {
    }
    .images__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .images__wrap img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1000px){
    .brand__list{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    .brand__item img{
        width: 100%;
        height: 600px;
        height: auto;
    }
    .brand__item-text {
        width: 100%;
        text-align: left;
    }
    .brand__item-text-wrap,
    .brand__item-text-wrap-one{
        width: 445px;
        margin-left: 16px;
    }
    .brand__item-text-wrap-one{
        margin-left: 10px;
        margin-right: 16px;
    }
    .brand__item-text h2{
        margin: 0;
        margin-top: 158px;
        text-align: left;
        font-size: 40px;
        line-height: 49px;
    }
    .brand__item-text p{
        margin-top: 24px;
        margin-bottom: 32px;
        text-align: left;
    }
    .brand__item-img-chery-text{
        width: 339px;
        text-align: center;
        margin: 0 auto;
    }
    .client__item-text-wrap{
        width: 350px;
        margin: 0 auto;
    }
    .client__item::before{
        top: calc(50% + -220px);
        left: calc(50% + -12px);
    }
}       

@media only screen and (min-width: 1400px){
    .brand__item-text {
        width: 100%;
        text-align: left;
    }
    .brand__item-text-wrap,
    .brand__item-text-wrap-one{
        width: 445px;
        margin-left: 165px;
    }
    .brand__item-text-wrap-one{
        margin-left: 110px;
        margin-right: 165px;
    }
}
